<!-- path url -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EatRite</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- fontawesome icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  <!-- static css file -->
  <link rel="stylesheet" href="{% static 'styles.css' %}" />
  <!-- static script file -->
  <script defer src="{% static 'script.js' %}"></script>
</head>
<body>
  <!-- Header -->
  <header>
    <a href="#" class="logo">EatRite</a>
    <nav>
      <div class="menu">
        <ul>
          <li><a href="#about">About Us</a></li>
          <li><a href="#menu">Menu</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
        <a class="cta" href="#contact">Get in touch</a>
      </div>
      <i class="fa fa-bars"></i>
    </nav>
  </header>

  <!-- Hero Section -->
  <section id="hero">
    <div>
      <h1>Welcome to Eatrite where your hunger ends.</h1>
      <p>
        We're your tested and trusted when it comes to cooking and food
        related services.
      </p>
      <li><a class="cta" href="#contact">Get in touch</a></li>
    </div>
  </section>

  <!-- About Section -->
  <section id="about">
    <div class="div-left">
      <h1>About Us</h1>
      <p>
        Our passion lies in creating exceptional dining experiences that
        tantalize your taste buds and warm your soul. From farm-fresh
        ingredients to innovative culinary techniques, every dish at The
        Eatspot is a masterpiece — a symphony of textures, colors, and aromas.
        We believe that food is more than sustenance; it’s an art form. Our
        chefs, led by the talented Chef Jude, blend tradition with
        modernity, infusing each plate with love and creativity. Whether
        you’re seeking comfort food or daring flavor combinations, we’ve
        curated a menu that celebrates diversity and indulgence
      </p>
      <a href="#" class="cta">See more <i class="fa fa-angle-right"></i></a>
    </div>
    <div class="div-right"><img src="{% static 'media/about-img.webp' %}" alt="hero image" /></div>
  </section>

  <!-- Menu Section -->
  <!-- API Integration -->
  <section id="menu">
    <h1>Our Menu</h1>
    <article id="meals">
      <!-- menu items goes here -->
    </article>
  </section>

  <!-- Location -->
  <section id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d101408.31356124059!2d-122.228921854108!3d37.41324328730475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb7495bec0189%3A0x7c17d44a466baf9b!2sMountain%20View%2C%20CA%2C%20USA!5e0!3m2!1sen!2sng!4v1714078056584!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>

  <!-- Footer -->
  <footer id="contact">
    <article>
      <a href="#" class="logo">Eatspot</a>
      <div>
        <i class="fa fa-location-dot"></i>
        <p>203 Eatspot street mountain view, California, USA</p>
      </div>
      <div>
        <i class="fa fa-envelope"></i>
        <p>info@eatspot.com</p>
      </div>
      <div>
        <i class="fa fa-phone"></i>
        <p>+18167777777</p>
      </div>
    </article>
    <article>
      <h2>Important links</h2>
      <ul>
        <li><a href="#about">About Us</a></li>
        <li><a href="#menu">menu</a></li>
      </ul>
    </article>
    <article>
      <h2>Talk with Us</h2>
      <form action="">
        <input type="email" placeholder="Email" />
        <textarea cols="30" rows="2" placeholder="Message"></textarea>
        <button>Submit</button>
      </form>
    </article>
  </footer>
</body>
</html>